[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
tensorflow = "*"
keras = "*"
ipykernel = "*"
scikit-learn = "*"
seaborn = "*"
wandb = "*"
keras-tuner = "*"
scikit-image = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
